@import "./vars.css";

.intro {
  background-color: var(--color-background);
  padding: 5rem 2rem 0.5rem;
  color: var(--color-brown-dark);
}

.introContent {
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.intro h2 {
  color: var(--color-primary-red-dark);
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.intro h1 {
  font-weight: 400;
  font-size: 4rem;
  font-family: var(--font-header);
  color: var(--color-brown-dark);
  margin-bottom: 1.5rem;
}

.introButtons {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 2rem;
}

.resumeBtn {
  background-color: var(--color-primary-red-dark);
  color: var(--color-background);
  padding: 0.6rem 1rem;
  border-radius: 15px;
  text-decoration: none;  
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.resumeBtn:hover {
  background-color: var(--color-primary-red);
  transform: scale(1.01);
}

.linksBtn {
  display: flex;
  gap: 1rem;
}

.iconLink {
  font-size: 3rem;
  color: var(--color-brown-dark);
  transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}

.iconLink:hover {
  color: var(--color-primary-red);
  transform: scale(1.1);
}

.sectionDivider {
  max-width: 90%;
  border: none;
  height: 3px;
  background-color: var(--color-brown-medium);
  margin: 2rem auto;
}

.introSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;
}

.divider {
  width: 3px;
  background-color: var(--color-brown-medium);
  margin: 0 1rem;
  align-self: stretch;
}

.who {
  font-weight: 400;
  font-size: 225%;
  font-family: var(--font-header);
  flex-shrink: 0;
  display: flex;
  align-self: center;
}

.introBody {
  font-family: var(--font-body);
  font-size: larger;
  color: var(--color-brown-dark);
  line-height: 1.6;
}

.introBody p {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .introSection{
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .intro h2 {
  font-size: 2rem;
  }

  .intro h1 {
  font-weight: 400;
  font-size: 3rem;
  }

  .iconLink{
    font-size: 2.5rem;
  }

  .resumeBtn{
    font-weight: 400;
  }

  .divider{
    display: none;
  }
  .who {
    align-self: center;   
    justify-content: center;
  }

  .introBody {
    text-align: center;  
  }
}