/* @import "./vars.css"; */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-red-dark);
  color: var(--color-background);
  padding: 0.75rem 1.5rem;
  font-family: var(--font-body);
}

.navbarLogo {
  font-size: 1.5rem;
  cursor: pointer;
  font-family: var(--font-header);
}

.navbarLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.navbarLinks li a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbarLinks li:hover {
  text-decoration: underline;
}

/* Default navbar styles stay the same */

/* Hamburger button */
.hamburger {
  display: none;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.1rem;
  font-size: 1.5rem;
  color: var(--color-background);
  cursor: pointer;
}

.hamburger:hover {
  background-color: var(--color-primary-red);
  border-radius: 15%;
}
/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbarLinks {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color-primary-red-dark);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    display: none; /* hidden by default */
  }

  .navbarLinks li {
    text-align: right;
  }

  .navbarLinks.showMenu {
    display: flex; /* show when toggled */
  }

  .hamburger.showMenu {
    display: none;
  }
}
